.example-container {
    margin-left: 8px;
    width: 600px ;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  
  .top{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  
  .center{
    display: flex;
    width: 65%;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .image{
      position: fixed;
      right: 0px;
      top: 0px;
      height: 100%;
      width: calc(100vw - 638px);
      mask-image: url('../../../assets/img1.jpg');
      overflow: hidden;
      overflow-y: hidden;
      
    }