<div class="example-container">

    <div class="center">
        
        <div class="top">
            <h1>DON'T LET ANYTHING STOP YOU!</h1>
            <p>Enter your username to get your password</p>
        </div>

        <!-- Input Username -->
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
        
        <button mat-flat-button>Submit</button>

        <p style="font-size: 10px;">Dont have an account?<a href="">Sign Up</a></p>

    </div>
    <div class="image">
        <img src="../../../assets/img1.jpg" alt="">
    </div>
</div>